@import 'constants'

.container
    display: flex
    flex-direction: column
    width: 100%
    padding: 15px
    background-color: $card-background-color
    border-radius: 5px

    .topRow
        display: flex
        flex-direction: columns
        width: 100%
        justify-content: space-between

        .title
            color: $card-title-color
            font-weight: $bold-font-weight
            font-size: $medium-font-size
