// COLORS
// https://chir.ag/projects/name-that-color
$martinique-color: #2C2D48
$white-color: #ffffff
$white-50-color: rgba($white-color, 0.15)
$black-color: #000000
$black-65-color: rgba($black-color, 0.65)
$kimberly-color: #7577AB
$kimberly-20-color: rgba($kimberly-color, 0.4)
$royal-blue-color: #5662DF
$melrose-color: #A29BFE
$whisper-color: #F4F5F9
$stratos-color: #03015B
$cadet-blue-color: #A3ADC6

$box-shadow-color: $black-color
$header-color: $white-color
$background-color: $whisper-color
$text-emphasis-color: $royal-blue-color
$text-color: $cadet-blue-color
$text-bold-color: $stratos-color
$separator-color: $kimberly-20-color
$primary-button-color: $royal-blue-color
$primary-button-text-color: $white-color
$secondary-button-border-color: $royal-blue-color
$secondary-button-text-color: $royal-blue-color
$logo-text-color: $stratos-color

// STYLES
$box-shadow-style: 0 1px 8px -6px $box-shadow-color

// SCREEN SIZES

// Screen-related sizes
$main-content-container-size: 1440px
$edge-margin: 12px
$header-height: calc(30px + #{2 * $edge-margin})

// FONT SIZES
$small-font-size: 14px
$large-font-size: 17px
$extra-large-font-size: 26px

$regular-font-weight: 400
$semi-bold-font-weight: 600

// BREAKPOINTS
// Refer to styles/utils.sass
$extra-large-breakpoint: 1200px  // for 1200px-and-up devices
$large-breakpoint: 992px         // for 992px-and-up devices
$medium-breakpoint: 768px        // for 768px-and-up devices
$small-breakpoint: 600px         // for 600px-and-up devices
$extra-small-breakpoint: 600px   // for 600px-and-down devices

// EFFECT, ANIMATION
$animation-fast-time: 0.3s
$animation-medium-time: 0.5s
