@import 'constants'

.mainContainer
    display: flex
    width: 100%
    padding: 0 $edge-margin
    flex-direction: column
    margin-top: $panel-components-margin

    .main
        display: flex
        align-self: center
        width: $main-content-container-size

        // @media (max-width: $main-content-container-size)
        //     width: 100%

        .courseContainer
            display: flex
            flex-direction: column
            width: $right-panel-width
            margin-right: $panel-components-margin

        .widgetsContainer
            width: $left-panel-width
            height: 1000px
            border-radius: 5px
