@import 'common'

html, body
    max-width: 100%
    overflow-x: hidden
    overflow-y: hidden
    padding: 0
    margin: 0
    font-family: AvertaStd, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

body
    position: relative

*
    box-sizing: border-box

// h1, h2, h3, p
//     margin: 0

button
    &:focus
        outline: 0 !important

@font-face
    font-family: "Gilroy"
    src: url("/fonts/Gilroy/Gilroy-Regular.ttf")
    font-weight: $regular-font-weight
    font-display: swap

@font-face
    font-family: "Gilroy"
    src: url("/fonts/Gilroy/Gilroy-Medium.ttf")
    font-weight: $medium-font-weight
    font-display: swap

@font-face
    font-family: "Gilroy"
    src: url("/fonts/Gilroy/Gilroy-SemiBold.ttf")
    font-weight: $semi-bold-font-weight
    font-display: swap

@font-face
    font-family: "Gilroy"
    src: url("/fonts/Gilroy/AvertaStd-Bold.ttf")
    font-weight: $bold-font-weight
    font-display: swap

@font-face
    font-family: "AvertaStd"
    src: url("/fonts/AvertaStd/AvertaStd-Regular.ttf")
    font-weight: $regular-font-weight
    font-display: swap

@font-face
    font-family: "AvertaStd"
    src: url("/fonts/AvertaStd/AvertaStd-SemiBold.ttf")
    font-weight: $semi-bold-font-weight
    font-display: swap

@font-face
    font-family: "AvertaStd"
    src: url("/fonts/AvertaStd/AvertaStd-Bold.ttf")
    font-weight: $bold-font-weight
    font-display: swap

.topicCircularProgressbar
    .CircularProgressbar-path
        stroke: $topic-circular-progress-bar-path-color

    .CircularProgressbar-trail
        stroke: $topic-circular-progress-bar-trail-color

.lessonsCircularProgressbar
    .CircularProgressbar-path
        stroke: $lessons-progress-primary-color

    .CircularProgressbar-trail
        stroke: transparent

.practiceProblemsCircularProgressbar
    .CircularProgressbar-path
        stroke: $practice-problems-progress-primary-color

    .CircularProgressbar-trail
        stroke: transparent