@import 'constants'
@import 'utils'

.container
    @extend %header-container
    flex-direction: column

    .menuBar
        width: $main-content-container-size
        align-self: center
        color: #ffffff
        display: flex
        justify-content: space-between
        height: $header-height

        @media (max-width: $main-content-container-size)
            width: 100%        

        .leftButton
            display: inline-block
            background-color: unset
            border: unset
            padding: 0
            color: $text-color
            font-size: $small-font-size

        .leftNavigationBar
            display: flex
            align-items: center
            
            .leftButtons
                display: flex

                @include screen-respond($breakpoint: extra-small)
                    display: none

                > *
                    margin-left: 26px

        .rightNavigationBar
            display: flex
            align-items: center

            .rightFlatMenu
                display: flex

                @include screen-respond($breakpoint: extra-small)
                    display: none

            .hamburgerMenu
                display: none
                align-items: center

                @include screen-respond($breakpoint: extra-small)
                    display: flex

    .logoContainer
        display: flex
        align-items: center

        .logoText
            color: $logo-text-color
            display: flex
            align-items: center
            margin-left: 10px

.noCollapseOnExtraSmall
    @include screen-respond($breakpoint: extra-small)
        display: flex !important
