@import 'common'
@import 'utils'

.html
    overflow-x: scroll
    overflow-y: scroll

.mainContainer
    display: flex
    width: 100%
    flex-direction: column

    > div
        padding: 0 $edge-margin

    .landingCurve
        width: 100%

    .main
        display: flex
        flex-direction: column
        align-self: center
        width: $home-main-content-container-size

        @media (max-width: $home-main-content-container-size)
            width: 100%

        .landingBlockContainer
            display: flex
            flex-direction: row
            padding-top: 90px
            justify-content: space-between
            align-items: center

            @include screen-respond($breakpoint: extra-small)
                flex-direction: column-reverse

            .landingLogo
                margin: 0 15px

                @include screen-respond($breakpoint: extra-small)
                    margin: 0

            .landingDescription
                width: 488px  // $medium-breakpoint - $landing-logo-width - 2*$landing-logo-margin = 268 - 250 - 2*15
                margin-bottom: 100px

                @include screen-respond($breakpoint: extra-small)
                    width: 100%
                    margin-top: 50px

                .newline
                    display: none

                    @include screen-respond($breakpoint: medium)
                        display: inherit

                h1
                    color: $text-primary-color
                    font-size: 38px
                    margin: 0

                p
                    margin-top: 15px
                    color: $text-annotation-secondary-color
                    font-size: 22px

                .landingButtons
                    margin-top: 42px

                .getStartedButton
                    @include primary-button(150px, 50px, $primary-button-color, $text-primary-color)
                    font-size: $large-font-size
                    padding: 0 22px
                    margin-right: 28px

                .readMissionButton
                    @include secondary-button(150px, 50px, $primary-button-color, unset)
                    font-size: $large-font-size
                    padding: 0 22px
                    margin-top: 15px

    .dummyDiv
        width: 100%
        height: 100px
        background-color: #242937
        margin-top: -1px