@import 'common'
@import 'utils'

.mainContainer
    display: flex
    width: 100%
    padding: 0 $edge-margin
    flex-direction: column

    .main
        display: flex
        flex-direction: column
        align-self: center
        width: $main-content-container-size

        @media (max-width: $main-content-container-size)
            width: 100%

        .landingBlockContainer
            display: flex
            flex-direction: row
            padding-top: 100px
            justify-content: space-between
            align-items: center

            @include screen-respond($breakpoint: extra-small)
                flex-direction: column-reverse

            .landingLogo
                margin: 0 15px

                @include screen-respond($breakpoint: extra-small)
                    margin: 0

            .landingDescription
                width: 488px  // $medium-breakpoint - $landing-logo-width - 2*$landing-logo-margin = 268 - 250 - 2*15

                @include screen-respond($breakpoint: extra-small)
                    width: 100%
                    margin-top: 50px

                .newline
                    display: none

                    @include screen-respond($breakpoint: medium)
                        display: inherit

                .siteTitle, h1
                    color: $text-secondary-color

                h1
                    font-size: $extra-large-font-size

                p
                    margin-top: 25px
                    color: $text-annotation-secondary-color
                    font-size: $medium-font-size

                .landingButtons
                    margin-top: 30px

                .getStartedButton
                    @include primary-button(auto, 42px, $primary-button-color, $text-primary-color)
                    font-size: $large-font-size
                    padding: 0 22px
                    margin-right: 28px

                .readMissionButton
                    @include secondary-button(auto, 42px, $text-primary-color, $primary-button-color)
                    font-size: $large-font-size
                    padding: 0 22px
                    margin-top: 15px
