@import 'common'
@import 'utils'

.loginButton
    @include secondary-button(68px, 30px, $login-button-background-color, $primary-button-color)
    font-size: $small-font-size

.loginPanelContainer
    width: 300px
    background-color: $login-panel-background-color
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 100px
    overflow: hidden
    position: absolute
    padding: 20px 0 25px 0
    border-radius: $card-border-radius
    margin-left: calc(50% - 150px)

    h2
        font-weight: $bold-font-weight
        color: $login-panel-title-color
        font-size: $medium-font-size
        margin: 0

    > div
        width: 220px
        display: flex
        margin-top: 18px
        align-items: center
        padding: 6px 10px 6px 10px
        border-radius: $card-border-radius

        span
            font-size: $small-font-size
            color: $text-primary-color
            margin-left: 28px

    .facebookLogin
        margin-top: 20px
        background-color: $facebook-icon-color

    .githubLogin
        background-color: $github-icon-color

    .googleLogin
        background-color: $google-icon-color

        