@import 'common'

.container
    width: 100vw
    bottom: 0
    background-color: $overlay-background-color
    left: 0
    top: 0
    position: fixed
    z-index: $z-index-top-layer
    opacity: 0

.containerShow
    opacity: 1
    transition: opacity $animation-fast-time

.containerHide
    left: 100vw
    opacity: 0
    transition: opacity $animation-fast-time, left 0ms $animation-fast-time