@import 'variables'

.overrideBaseCard
    margin-top: $panel-components-margin

.container
    color: $text-color
    font-size: $small-font-size
    margin-top: 15px
    word-break: break-word
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 6
    -webkit-box-orient: vertical
    line-height: 17px
    max-height: 102px