@import 'common'
@import 'utils'
    
.container
    width: 100%
    display: flex
    flex-direction: column

    > span:first-child
        color: $text-annotation-secondary-color
        font-size: $medium-font-size
        font-weight: $bold-font-weight
        margin-bottom: 10px

    .topics
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap

        .topic
            position: relative
            display: flex
            flex-direction: column
            width: $topic-card-width
            cursor: pointer
            background-color: $topic-background-color
            border-radius: $card-border-radius
            padding: $topic-padding
            margin-top: $module-padding/1.5

            &:nth-child(1), &:nth-child(2), &:nth-child(3)
                margin-top: 0

            > *:nth-child(1)
                font-weight: $bold-font-weight
                color: $text-primary-color
                font-size: $medium-font-size

            > *:nth-child(2)
                font-weight: $regular-font-weight
                color: $text-annotation-secondary-color
                font-size: $small-font-size
                margin-top: 4px
                @include max-line($number-of-lines: 2, $line-height: 17px)

            > div
                display: flex
                flex-direction: row
                font-size: $extra-small-font-size
                color: $text-annotation-primary-color
                align-items: center

                span
                    margin-left: 5px
                    line-height: 50%
                    margin-top: 3px
            
            > *:nth-child(3)
                margin-top: 10px

            > *:nth-child(4)
                margin-top: 5px

            .metadataIcon
                @include svg-icon($icon-small-size, $icon-small-size, $text-primary-color)

            .difficulty
                position: absolute
                height: 18px
                border-radius: 9px
                font-size: $extra-small-font-size - 1
                padding: 0 8px
                right: $topic-padding
                bottom: $topic-padding

            .difficultyBeginner
                color: $difficulty-easy-color
                background-color: rgba($difficulty-easy-color, 0.2)

            .difficultyIntermediate
                color: $difficulty-medium-color
                background-color: rgba($difficulty-medium-color, 0.2)

            .difficultyAdvanced
                color: $difficulty-hard-color
                background-color: rgba($difficulty-hard-color, 0.2)

            .progressComponent
                position: absolute
                right: $topic-padding
                top: $topic-padding
                width: 16px
                height: 16px
