// This file includes reused style components, such as mixins and inheritance property classes.

@import 'common'

// Typical Device Breakpoints
// Source: https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp
@mixin screen-respond($breakpoint)
    // Extra large desktops and laptops, 1200px and up
    @if ($breakpoint == extra-large)
        @media (min-width: $extra-large-breakpoint)
            @content

    // Large desktops and laptops, 992px and up
    @if ($breakpoint == large)
        @media (min-width: $large-breakpoint)
            @content

    // Medium landscape tablets, 768px and up
    @if ($breakpoint == medium)
        @media (min-width: $medium-breakpoint)
            @content

    // Small portrait tablets and large phones, 600px and up
    @if ($breakpoint == small)
        @media (min-width: $small-breakpoint)
            @content

    // Extra small phones, 600px and down
    @if ($breakpoint == extra-small)
        @media (max-width: $extra-small-breakpoint)
            @content

%button
    display: inline-block
    border-radius: $border-radius
    cursor: pointer
    font-weight: $semi-bold-font-weight

%header-container
    width: 100%
    display: flex
    padding: 0 $edge-margin
    background-color: $header-background-color

%h-style
    margin-top: 0
    margin-bottom: $h-margin
    font-weight: $bold-font-weight
    color: $text-primary-color

@mixin primary-button($width, $height, $primary-color, $secondary-color: $background-color)
    @extend %button
    border: none
    width: $width
    height: $height
    background-color: $primary-color
    color: $secondary-color

@mixin secondary-button($width, $height, $primary-color, $secondary-color)
    @extend %button
    width: $width
    height: $height
    background-color: $secondary-color
    border: $secondary-button-border-width solid $primary-color
    color: $primary-color

@mixin max-line($number-of-lines, $line-height)
    word-break: break-word
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: $number-of-lines
    -webkit-box-orient: vertical
    line-height: $line-height
    max-height: $number-of-lines * $line-height

@mixin svg-icon($width, $height, $color, $hover-color: none)
    width: $width
    height: $height

    svg
        width: $width
        height: $height

        path
            fill: $color
            transition: fill $animation-fast-time ease

    &:hover path
        @if ($hover-color != none)
            fill: $hover-color